.contacts {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  &__wrapper {
    height: 685px;
    display: block;
    position: relative;
    float: left;
    width: 50%;
    background-color: #edc900;
    &__absolute {
      display: block;
      position: absolute;
      width: 276px;
      height: 276px;
      top: 51px;
      left: 24px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

      }
    }
    &__content {
      h1{
        color: #09091e;
        font-family: $MuSeoSansBlack;
        font-size: 25px;
        text-transform: uppercase;
        margin-top: 148px;
        margin-bottom: 0;
      }
      h2{
        margin-bottom: 42px;
        font-size: 25px;
        margin-top: 40px;
        font-family: $MuSeoSansLight;
        font-weight: 300;
      }
      display: block;
      position: relative;
      float: left;
      width: 442px;
      margin-left: 92px;
      form {
        width: 407px;
        padding: 29px;
        box-sizing: border-box;
        height: 235px;
        background-color: #f2d94c;
        input {
          width: 330px;
          height: 41px;
          border: 2px solid #000000;
          display: block;
          box-sizing: border-box;
          margin: 0 auto;
          margin-bottom: 23px;
          color: #4f4f4f;
          font-family: $MuSeoSansLight;
          font-size: 16px;
          font-weight: 300;
          padding-left: 17px;
          &::placeholder{
            opacity: 1;
          }
        }
        button {
          width: 330px;
          height: 49px;
          background-color: #000000;
          border: none;
          display: block;
          margin: 0 auto;
          color: #edc900;
          font-family: $MuSeoSansBold;
          font-size: 16px;
        }
      }
    }
  }
}