.reviews{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background: #f2f2f2;
  h1{
    text-align: center;
    margin-top: 69px;
    color: #09091e;
    font-family: $MuSeoSansBlack;
    font-size: 39px;
    margin-bottom: 28px;
  }
}