.header{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 614px;
  background: url("../img/header-slide.jpg") no-repeat center center;
  background-size: cover;
  video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 614px;
    object-fit: cover;
  }
  &__logo{
    display: block;
    position: relative;
    float: left;
    width: 70px;
    margin-top: 28px;
    img{
      width: 100%;
      object-fit: cover;
    }
  }
  &__contacts{
    display: block;
    position: relative;
    float: left;
    width: 470px;
    margin-top: 52px;
    margin-left: 246px;
    color: #fff;
    .fa{
      color: #eeca00;
      display: inline-block;
    }
    span{
      font-size: 16px;
      display: inline-block;
      margin-right: 55px;
    }
    a{
      color: #fff;
      font-size: 16px;
      font-family: $MuSeoSansBlack;
      display: inline-block;

    }
  }
  &__social{
    display: block;
    position: relative;
    float: right;
    margin-top: 48px;
    width: auto;
    a{
      display: inline-block;
      width: 26px;
      height: 26px;
      background: #fff;
      border-radius: 50%;
      text-align: center;
      margin-left: 18px;
      color: #000;
      float: left;
      transition: 200ms ease;
      &:hover{
        transform: scale(1.1);
        transition: 200ms ease;
        background: #edc900;
        color: #fff;
      }
      &:first-child{
        margin-left: 0;
      }
      .fa{
        padding: 6px 0;
      }
    }
  }
  &__menu{
    display: block;
    position: relative;
    float: left;
    width: 105px;
    margin-left: 30px;
    height: 39px;
    cursor:pointer;
    background-color: #edc900;
    margin-top: 41px;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    color: #000;
    transition: 200ms ease;

    a{
      color: #000;
    }
    span{
      font-size: 16px;
    }
    .fa{
      margin-right: 10px;
      display: inline-block;
    }
    ul{
      display: none;
      position: absolute;
      margin: 10px 0 0 0;
      width: 200px;
      left: 0;
      padding: 20%;
      list-style: none;
      z-index: 2;
      text-align: left;
      background: #edc900;
      right: 0;
      li{
        display: block;
        width: 100%;

        a{
          color: #000;
          line-height: 40px;
          display: block;
          &:hover{
            color: #fff;
            transition: 200ms ease;
          }
        }
      }
    }
  }
  &__content{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    color: #fff;
    h1{
      font-family: $MuSeoSansBlack;
      font-size: 45px;
      text-transform: uppercase;
      margin-top: 191px;
      margin-bottom: 0;
    }
    h2{
      font-size: 30px;
      font-weight: 500;
      margin-top: 14px;
      margin-bottom: 30px;
    }
    button{
      width: 244px;
      height: 60px;
      border-radius: 10px;
      background-color: #edc900;
      font-weight: 500;
      display: block;
      border: 0;
      &:hover{
        color: #fff;
      }
    }
  }
}
.header.header-hairdresser{
  background: url("../img/heardresser-bg.png") no-repeat center center;
}
.header.header-wig{
  background: url("../img/wig-bg.png") no-repeat center center;
}
.header.header-heirstyler{
  background: url("../img/heirstyles-bg.png") no-repeat center center;
}
.header-heirstyler{
  &__title{
    display: block;
    position: absolute;
    max-width: 668px;
    color: #efc200;
    font-family: $MuSeoSansBold;
    font-size: 72px!important;
    text-transform: uppercase;
    margin-top: 109px!important;
    right: 115px;
  }
  &__descr{
    display: block;
    position: absolute;
    width: 50%;
    right: 0;
    margin-top: 177px;
    > h3{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 62px;
      margin-bottom: 35px;
      padding-left: 61px;
      @include box-sizing(border-box);
      color: black;
      font-family: $MuSeoSansBlack;
      font-size: 30px;
      text-transform: uppercase;
    }
    > p{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 0;
      margin-bottom: 31px;
      padding-left: 94px;
      @include box-sizing(border-box);
      font-family: $MuSeoSansThin;
      color: #080808;
      font-size: 25px;
      &:before{
        display: block;
        position: absolute;
        content: '';
        width: 25px;
        height: 25px;
        top: 2px;
        margin-left: -33px;
        background-image: url('../img/icons/yel-arr-right-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
    }
  }
}
.header.header-staiting{
  background: url("../img/staiting-bg.png") no-repeat center center;
}
.header.header-lamination{
  background: url("../img/lamination_bg.png") no-repeat center center;
}
.header.header-stacking{
  background: url("../img/staiting-bg.png") no-repeat center center;
}
.header.header-training{
  background: url("../img/training_bg.png") no-repeat center center;
}
.header.header-care{
  background: url("../img/care_bg.png") no-repeat center center;
}