.wigs-about {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #ffffff;
  &__title {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 56px;
    margin-bottom: 66px;
    text-align: left;
    color: #09091e;
    font-family: $MuSeoSansBlack;
    font-size: 35px;
  }
  &__wrapper {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    position: relative;
    float: left;
    width: 100%;
  }
  &__photo {
    display: block;
    position: relative;
    float: left;
    width: 524px;
    height: 357px;
    overflow: hidden;
    img {
      size: 100%;
      object-fit: cover;
    }
  }
  &__descr {
    display: block;
    position: relative;
    float: left;
    width: calc(100% - 524px);
    padding-left: 30px;
    @include box-sizing(border-box);
    > p {
      position: relative;
      float: left;
      width: 100%;
      margin-top: 0;
      color: #09091e;
      font-family: $MuSeoSansThin;
      font-size: 18px;
    }
    > .shares__wrapper--more {
      margin-left: 0;
    }
  }
  &__photos {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    position: relative;
    float: left;
    width: 100%;
    &--element{
      display: block;
      position: relative;
      float: left;
      width: 200px;
      height: 254px;
      overflow: hidden;
      margin-bottom: 34px;
      img{
        size: 100%;
        object-fit: contain;
      }
    }
  }
}